{%- liquid

  assign variants_size = pr_variants.size 
  assign pr_curent = settings.pr_curent
  if pr_curent == '2' 
    assign current_variant = selected_variant |default: pr_variants.first 
    if remove_soldout and current_variant.available == false and no_sold_out 
      assign current_variant = product.first_available_variant 
    endif
  else 
    assign current_variant = product.selected_or_first_available_variant 
  endif
  assign default = product.has_only_default_variant
  assign on_sale = false
  if current_variant.compare_at_price > current_variant.price 
    assign on_sale = true 
  endif
  assign ck_external = false
  assign external = pr_metafields.external 
  if external.title_is != blank or external.link_is != blank 
    assign ck_external = true 
    assign title = external.title_is 
    assign link = external.link_is
  endif
  assign ck_inventory = settings.ck_inventory
  if section.id == "main-qv" 
    assign call_cl = '_qv'
    assign Isquickview = true 
  else 
    assign call_cl = '_ppr' 
    assign Isquickview = false
  endif
  assign des_pr_layout = '1'
  assign pr_incoming_mess = settings.pr_incoming_mess
  assign hd_up = 'group-' |append:pid
  assign nav_up = linklists[hd_up].links | where:'type','product_link'
  assign nav_up_size = nav_up.size
  assign links_vendor = linklists['image-vendor-the4'].links
  assign pr_vendor = product.vendor
  assign price_varies = product.price_varies | default:product.compare_at_price_varies
  assign pr_tags = product.tags
  assign style_tag_arr = pr_tags | where:'stylet4_'
  assign style_tag = style_tag_arr | first | remove:'stylet4_'
  assign nav_style = linklists[style_tag].links | where:'type','product_link' 
  assign nav_style_size = nav_style.size

  if inventory_quantity <= 0  and inventory_management == 'shopify'
    assign classdn1 = 'dn' 
    assign classdn2 = ''
    assign ck_preoder = true
  else 
    assign classdn1 = '' 
    assign classdn2 = 'dn'
    assign ck_preoder = false
  endif
  assign PR_no_pick = false
  if pr_curent == '1' and variants_size > 1 and selected_variant == blank
    assign PR_no_pick = true
  endif
  assign bk_stts = section.blocks.settings
  assign pos_sizeg = bk_stts.pos_sizeg | default:'1'
  assign ck_sizeg  = false
  assign pr_tags_str = pr_tags |join:'ntt4'
  if pos_sizeg == '2'
    assign size_ck = bk_stts.size_ck | append:',size,sizes,Größe'
    assign get_size = size_ck | downcase | replace: ' ,', ',' | replace: ', ', ',' | split: ',' | uniq
    for option in product.options_with_values
     assign name = option.name | downcase
     if get_size contains name
       assign ck_sizeg = true
       assign name_sizeg = name
       break
     endif
    endfor  
  endif
  assign ck_tab = section.settings.auto 
  
  
  
  
  assign se_stts = section.settings
    assign cl_des = se_stts.des_pr_design
    assign cl_mb  = se_stts.des_mb
    if cl_des == '2'
      assign ck = se_stts.auto
    else
      assign ck = true
    endif 

    assign pid = product.id
    assign hd_up = 'fbt-' |append:pid
    assign fbt_tag = product.tags| where:'fbtt4_' | first | default:hd_up | remove:'fbtt4_'
    assign nav_up = linklists[fbt_tag].links | where:'type','product_link'
    assign nav_up_size = nav_up.size 
    if product.available == false or settings.fbt_pos == '1'
      assign nav_up_size = 0
    endif 
    assign des_w  = se_stts.des_w
    assign des_pr_layout = '1'
    assign pr_tags = product.tags
    assign tag_arr_size = pr_tags | where:'tabt4_' | size 
    
    assign margin = section.settings.mg -%}
  
    
 {%- if section.blocks.size > 0 -%}
    <div class="location-accordion-outer-container clicked_accordion panel entry-content sp-tab des_mb_2 des_style_1{% if ck %} active{% assign ck = false %}{% else %} dn{% endif %}" id="tab_{{block.id}}" {{ block.shopify_attributes }} style="margin: {{margin}} !important">
      {%- for block in section.blocks -%}
      {%- assign bk_setts = block.settings -%}
      <div class="js_ck_view"></div>
        <div class="heading bgbl">
            <a class="tab-heading flex al_center fl_between pr cd chp fwm" href="#tab_location">
                <h4 class="txt_h_tab">{{bk_setts.state}}</h4>
                <div class="nav_link_loc_icon ml__5">
                    <div class="vertical"></div>
                    <div class="horizontal"></div>
                </div>
            </a>
            <div class="sp-tab-loc-content" style="opacity: 0; z-index: 0;">
              {% if bk_setts.store_name1 %}
              {% render 'locations-store', loc_num:1, store_name:store_name1, address_line1:address1_line1, address_line2:address1_line2 %}
              {% endif %}

              {% if bk_setts.store_name2 %}
              {% render 'locations-store', store_name:store_name2, address_line1:address2_line1, address_line2:address2_line2 %}
              {% endif %}

              {% if bk_setts.store_name3 %}
              {% render 'locations-store', store_name:store_name3, address_line1:address3_line1, address_line2:address3_line2 %}
              {% endif %}

              {% if bk_setts.store_name4 %}
              {% render 'locations-store', store_name:store_name4, address_line1:address4_line1, address_line2:address4_line2 %}
              {% endif %}
            </div>
        </div>
    {%- endfor -%} 
  </div>
{% endif %}



<script>

  /* var loc_container = $(".location-accordion-outer-container .tab-heading");
  var content = $(".sp-tab-loc-content");
  var vertical = $(".location-accordion-outer-container .tab-heading .nav_link_loc_icon .vertical");
  var horizontal = $(".location-accordion-outer-container .tab-heading .nav_link_loc_icon .horizontal");
  var counter = 1;

  loc_container.click(() => {
      if (content.css("opacity") === "0") {
          vertical.css({"transform": "rotate(" + (-90 * counter) + "deg)", "opacity": "0"});
          horizontal.css({"transform": "rotate(" + (-180 * counter) + "deg)"});
          content.css({"transform": "translateY(0)", "opacity": "1"});
          counter++;
      } else {
          vertical.css({"transform": "rotate(" + -90 * (counter) + "deg)", "opacity": "1"});
          horizontal.css({"transform": "rotate(" + (-180 * counter) + "deg)"});
          content.slideUp().css({"transform": "translateY(-50px)", "opacity": "0"});
          counter++;
      }
  }); */

  
</script>
{%- schema -%}
  {
    "name": "location-accordion",
    "class": "id_pr_summary",
    "max_blocks": 30,
    "settings": [
    {
      "type": "select",
      "id": "des_pr_design",
      "label": "Product description design",
      "info": "Choose between different predefined designs",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "Product Tab Description"
        },
        {
          "value": "2",
          "label": "Product Tab Accordion"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show",
      "label": "Show Tab Descriptions?",
      "default": true
    },
    {
      "type": "color",
      "id": "bgcl",
      "label": "Background Color",
      "info": "Not working when enable description sidebar",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "bgclmb",
      "label": "Background Color (mobile)",
      "info": "Not working when enable description sidebar",
      "default": "#fff"
    },
    {
      "type": "select",
      "id": "des_w",
      "default": "1",
      "info": "Not working when enable description sidebar",
      "options": [
        {
          "value": "1",
          "label": "Default"
        },
        {
          "value": "2",
          "label": "Wide (1600px)"
        },
        {
          "value": "3",
          "label": "full Width"
        },
        {
          "value": "4",
          "label": "Content full Width"
        }
      ],
      "label": "Description Layout"
    },
    {
      "type": "select",
      "id": "des_mb",
      "label": "Description design mobile",
      /*"info": "Only working in Product Tab Description",*/
      "default": "2",
      "options": [
        {
          "value": "1","label": "Design 1"
        },
        {
          "value": "2","label": "Design 2"
        }
      ]
    },  
    {
    "type": "checkbox",
    "id": "auto",
    "label": "Enable auto open?",
    /*"info": "Only working in Product Tab Accordions",*/
    "default": true
    },
    {
      "type": "text",
      "id": "mg",
      "label": "Margin",
      "default": "30px,,30px,",
      "placeholder": "30px,,30px,"
    },
    {
      "type": "text",
      "id": "mg_mb",
      "label": "Margin Mobile",
      "default": "0,,0,",
      "placeholder": "0,,0,"
    },
      {
        "type": "select",
        "id": "pr_layout",
        "default": "default",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "wide",
            "label": "Wide (1600px)"
          },
          {
            "value": "full",
            "label": "Full width"
          }
        ],
        "label": "+ Product Layout"
      },
      {
        "type": "checkbox",
        "id": "use_sticky_des",
        "label": "Use Sticky product?",
        "default": false
      },
      {
        "type": "header",
        "content": "+ Design Main Image"
      },
      {
        "type": "header",
        "content": "+ Product Sidebar"
      },
    
      {
        "type": "header",
        "content": "+ Breadcrumb"
      },
      {
        "type": "checkbox",
        "id": "breadcrumb_pr",
        "label": "Show Breadcrumb?",
        "default": true
      },
      {
        "type": "header",
        "content": "+ Collapsible tab"
      },
      {
      "type": "checkbox",
      "id": "autobox",
      "label": "Enable auto open?",
      "info": "Only working with block 'Collapsible'",
      "default": false
      }
    ],
    "blocks": [
    {
      "type": "state",
      "name": "state",
      "limit": 50,
      "settings": [
        {
          "type": "text",
          "id": "state",
          "label": "State",
          "default": "Texas"
        },
        {
          "type": "text",
          "id": "store_name1",
          "label": "Store Name",
          "default": "Sendero Provisions"
        },
        {
          "type": "text",
          "id": "address1_line1",
          "label": "Address (line 1)",
          "default": "1234 Somewhere Drive"
        },
        {
          "type": "text",
          "id": "address1_line2",
          "label": "Address (line 2)",
          "default": "Waco, TX 76704"
        },
        {
          "type": "text",
          "id": "store_name2",
          "label": "Store Name"
        },
        {
          "type": "text",
          "id": "address2_line1",
          "label": "Address (line 1)"
        },
        {
          "type": "text",
          "id": "address2_line2",
          "label": "Address (line 2)"
        },
        {
          "type": "text",
          "id": "store_name3",
          "label": "Store Name"
        },
        {
          "type": "text",
          "id": "address3_line1",
          "label": "Address (line 1)"
        },
        {
          "type": "text",
          "id": "address3_line2",
          "label": "Address (line 2)"
        },
        {
          "type": "text",
          "id": "store_name4",
          "label": "Store Name"
        },
        {
          "type": "text",
          "id": "address4_line1",
          "label": "Address (line 1)"
        },
        {
          "type": "text",
          "id": "addres4_line2",
          "label": "Address (line 2)"
        }
      ]
    }
   ],
    "default": {
      "blocks": [
        { "type": "state" }
      ]
    }
  }
{% endschema %}