
/*-----------------------------------------------------------------------------/
/ SIDEKICK Custom CSS
/-----------------------------------------------------------------------------*/


/*--------------------------------------------------------/
/ HEADER & MEGA MENU
/--------------------------------------------------------*/
.ntheader {
    height: fit-content !important;
}

/*---------------- Logo & Icon Spacing -------------------*/

.branding img {
    margin-left:10px;
    padding-top:20px;
    padding-bottom:20px;        
}

.nt_action {
    margin-right: 15px;
}

.nt_menu >li>a {
    margin-right: 15px;
    margin-left: 15px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

/*---------------- Menu Nav Color & Hover -------------------*/

.nt_menu div.menu-item>a, .nt_menu ul li a {
    color: #fff;
}

.nt_menu div.menu-item>a, .nt_menu ul li a:hover {
    color: #aaaaaa;
}

.nt_menu >li>a:hover:after, .nt_menu >li>a:focus:after {
    content: "";
    background: #999;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto;
    height: 2px;
    width: 70%;
}

/*---------------- MEGA MENU -------------------*/

.nt_menu h1, .nt_menu h2, .nt_menu h3, .nt_menu h4, .nt_menu h5, .nt_menu h6 {
    color:#fff;
}

.nt_menu li {
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size:12px;
}

.h_transparent_true.template-index .ntheader:not(.live_stuck) .nt_menu .type_mega .sub-menu {
    top:-80px;
    padding-top: 170px;
}

.h_transparent_true.template-blog .ntheader:not(.live_stuck) .nt_menu .type_mega .sub-menu {
    top:-80px;
    padding-top: 170px;
}

.h_transparent_true.template-article .ntheader:not(.live_stuck) .nt_menu .type_mega .sub-menu {
    top:-80px;
    padding-top: 170px;
}

.nt_menu .type_mega .sub-menu {
    background: #000;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: none;
    -webkit-box-shadow: none;
    z-index:-2;
}

.nt_menu .sub-menu .sub-column-item {
    top: 50% !important;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.cat_grid_item__wrapper h3 {
    letter-spacing: 0.2em;
}

.shop-all {
    font-size:11px;
    color:#fff;
    letter-spacing: 0.15em;
}

.shop-all-blk {
    padding: 0 20px;
    font-size:12px;
    font-weight:400;
    color:#000;
    letter-spacing: 0.15em;
}

.cat_grid_item__link:hover {
    opacity: 0.5;
}


/* --------- MOBILE MENU --------------- */
.nt_fk_canvas {
    background-color: #000;
    color: white;
}

.mobile-menu-header-title {
    font-family: 'Oswald';
    font-weight: 400;
    margin-right: 15px;
    margin-left: 15px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    align-self: center;
    justify-self: center;
    color: white !important;
    border-bottom: 1px solid white !important;
    background-color: transparent !important;
    font-size: 14px;
}
.mobile-menu-header-title:after {
    background-color: transparent;
}
.mb_nav_tab ul li a{
    font-family: 'Oswald';
    font-weight: 400;
    margin-right: 15px;
    margin-left: 15px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    align-self: center;
    justify-self: center;
    color: white !important;
    border-bottom: 1px solid white !important;
}
.nt_mb_menu .menu-item .sub-menu .menu-item a {
    margin-left: 40px;
    margin-right: 40px;
}
.mb_nav_tabs {
    margin: 0 auto;
}
.mb_nav_title {
    margin: 0;
    max-width: 100% !important;
    flex: 1 !important;
}
.close_pp {
    background-color: black;
    color: white;
}
.frm_search_cat select{
    font-family: 'Oswald';
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #222 !important;
}
.frm_search_cat select option{
    font-family: 'Oswald';
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

/*--------------------------------------------------------/
/ HOME PAGE
/--------------------------------------------------------*/
.sendero-session-txt-container {
    /* display: flex;
    flex: 0 0 50%; */
    max-width: 100%;
    margin: 0 10%;
}
.hero-video-txt {
    /* display: flex; */
   margin-left: 60%;
   color: white;
}
.sendero-session-more-button {
    padding: 0 !important;
    border: none !important;
}
.sendero-session-more-button:hover {
    background-color: transparent !important;
    border: none !important;
}
.play-icon, .play-icon button {
    z-index: 9999;
    margin: auto;
    transition: .5s;
    opacity: 1 !important;
    pointer-events: all;
    background-color: transparent;
    border: none;
}
.play-icon button:hover {
    transform: scale(1.1);
    cursor: pointer;
    pointer-events: all;
}
.nt_se_template--15855375155457__164865439396016512.se_height_cus_h .nt_bg_lz {
    padding-top: 500px !important;
}
.instagram-img {
    max-width: 300px;
    max-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.instagram_container {
    display: flex;
    justify-content: center !important;
    max-width: 950px;
}
.instagram-outer-container {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}
.quote_slide {
    max-width: 250px;
    height: 300px;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.test-outer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 100px;
    height: 300px;
}
.test-inner-container {
    height: 300px;
    width:fit-content;
}
.test-container {
    padding-right: 0;
}
.flickityt4s-viewport {
    display: flex;
    justify-content: center;
}
.blog-home-container {
    max-height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 50%;
}
.blog-home-img, .blog-home-article {
    /* width: 100px;
    height: 100px; */
    width: 50%;
    padding: 10px;
}
.blog-home-link {
    padding: 0 20px 0 0;
    font-size: 12px;
    font-weight: 400;
    color: #000;
    letter-spacing: 0.15em;
}

/*---------------- ADD TO CART BUTTON -------------------*/
.single_add_to_cart_button {
    background-color: #222;
    border: 1px solid rgba(33,43,54,.9);
    max-width: 160px !important;
    margin-top: 20px;
    text-transform: uppercase !important;
    font-family: 'Oswald';
    font-weight: 400;
}
/* The below button is the "Email me when available" button */
.add_to_cart_button {
    align-items: center;
    justify-content: center;
    font-family: 'Oswald';
    font-weight: 400 !important;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid rgba(33,43,54,.9) !important;
}
.single_add_to_cart_button:hover {
    background-color: #222;
    border: 1px solid rgba(33,43,54,.9) !important;
}


/*--------------------------------------------------------/
/ Category & Collection Pages
/--------------------------------------------------------*/


.sk-breadcrumbs {
    margin:70px 90px;
}

.sk-collection-top {
    margin:70px 0 70px 90px;
}
/* .container_cat {
    margin:70px 90px;
} */
.flickityt4s-slider {
    width:108%;
    justify-content:flex-start !important;
}

.image-title {
    color:#fff;
}

.cat-top-img {
    padding-right:80px;
}


/*--------------------------------------------------------/
/ Individual Product Page
/--------------------------------------------------------*/

.sk-best-seller-img-slider, .indiv-product-rec-img-slider {
    width: 100% !important;
    margin: 0 !important;
}
.best-seller-img-container, .indiv-product-rec-container {
    margin-left: 0;
    padding-right: 0;
    max-width: 100%;
}
.img-text-indiv-product-container {
    max-width: 1450px;
}
.product-info {
    text-align:center;
}
.indiv-product-text-right {
    padding-left: 100px;
    line-height: 1.25rem;
}
.indiv-product-text-left {
    margin: 0 !important;
    padding-right: 100px;
    line-height: 1.25rem;
}
.txt-col-img-left {
    justify-content: end;
}
.indiv-product-img{
    max-width: 987px;
    height: 475px;
}
.indiv-product-tab {
    padding: none !important;
}
.ul_tabs li.tab_title_block.active a{
    border: none;
    border-bottom: 2px solid #222;
    /* padding: 0; */
    
}
.ul_tabs li.tab_title_block a{
    border: none;
    font-size: 14px;
    margin-right: 25px;
    font-family: 'Oswald';
    font-weight: 400;
    letter-spacing: .1em;
}
.variations.style__rectangle .swatch:not(.is-color) li.is-selected{
    background-color: #222 !important;
    border-color: #222;
}
.variations.style__rectangle .swatch:not(.is-color) li:hover{
    background-color: #222 !important;
    border-color: #222;
}
.variations.style__rectangle .swatch:not(.is-color) li {
    background-color: transparent;
    border: 1px solid #222;
    font-family: 'Oswald';
    font-weight: 400;
}
.quantity input.input-text[type=number] {
    border: 1px solid #222;
    width: 40px;
    margin: 0 15px;
    font-family: 'Oswald';
    font-size: 12px;
}
.variations_form .quantity {
    border: none;
    width:fit-content;
}
.quantity .tc button .facl-plus, .quantity .tc button .facl-minus{
    background-color:#f6f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px !important;
    /* top: 5px; */
}
.facl-plus, .facl-minus {
    font-size: 10px;
}
.swatch__title {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .1em;
}
.swatch__value_pr {
    font-size: 14px;
}
.style_color .is-color .swatch_pr_item.is-selected {
    border: 1px solid #222 !important;
    background-color: transparent;
}
.style_color .is-color .swatch_pr_item {
    padding: 0;
    margin: 3px 0;
}
#out_stock_ppr {
    align-items: center;
    justify-content: center;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}
.swatch_style_rounded .swatch__list .swatch__value {
    border-radius: 0;
    padding: 0;
}
.swatch_style_rounded .swatch__list .swatch__list--item {
    border-radius: 0;
    border: 1px solid #222;
    padding: 0;
}
.tab-heading {
    border: none;
    font-size: 14px;
    font-family: 'Oswald';
    font-weight: 400;
    letter-spacing: .1em;
    text-transform: uppercase;

}

/*---------------- SHOPPING CART SIDEBAR ----------------*/
.mini_cart_wrap, .mini_cart_header {
    background-color: white;
}
.mini_cart_header i, .mini_cart_header h3{
    background-color: white !important;
    color: #222 !important;
}
.mini_cart_actions .quantity {
    border: none;
   
}
.min_cqty_0 .mini_cart_item .qty_1 svg {
    display: none;
}
.minus {
    padding: 0;
}
.mini-cart-edit-delete-container {
    width: 85%;
    display: flex;
    justify-content: center;
    
}

.btns_cart_1 .mini_cart_tool>div {
    box-shadow: none;
    /* border: 1px solid #222; */
    border-radius: 0;
    
}
.btns_cart_1 .mini_cart_tool>div:hover {
    box-shadow: none;
    
}




/*---------------- Quick View and Add to Cart on Hover -------------------*/

.hover_button, .product-attr {
    display:none;
}


/*---------------- Pagination -------------------*/

.pagination-page {
    font-family: Oswald;
    letter-spacing:0.2em;
    text-transform: uppercase;
    font-size: 13px;
}

.page-numbers {
    padding:5px;
}

.page-numbers li {
    margin:0;
}

a.next.page-numbers {
    margin-left:60px;
}

a.prev.page-numbers {
    margin-right:60px;
}


/*-----------------------------------------------------------------------------/
/ Custom CSS For Screen Sizes
/-----------------------------------------------------------------------------*/


/*---------------- Custom CSS for only desktop -------------------*/
@media (min-width: 1025px) {



}

/*---------------- Custom CSS for tablet, mobile -------------------*/
@media (max-width: 1024px) {
    .sk-collection-top {
        margin:40px 0 40px 40px;
    }
    .sk-collection-top .container {
        padding:0;
    }
    .sk-breadcrumbs {
        margin:40px 40px 0 40px;
    }
    .container_cat {
        padding:40px;
    }
    .sendero-session-txt-container {
        margin: 0 !important;
    }
}

/*---------------- Custom CSS for only tablet -------------------*/
@media (min-width: 768px) and (max-width: 1024px) {
    


}

/*---------------- Custom CSS for only mobile -------------------*/
@media (max-width: 767px){

    .sk-breadcrumbs {
        margin:20px 25px;
    }
    
    .sk-collection-top {
        margin:20px;
    }

    .cat-top-img {
        padding:6px;
    }

    
    .flickityt4s-slider {
        width:100%;
    }
    
    /*  TEXT WITH IMAGE FOR PRODUCT PAGE */
    .flex_wrap_reverse {
        flex-wrap: wrap-reverse;
    }
    .mobile-remove-left-padding, .indiv-product-rec-container, .best-seller-img-container {
        padding-left: 0 !important;
    }

    /* INDIVIDUAL PRODUCT PAGE IMAGE */
    .indiv-product-img{
        width: 100%;
        height: auto;
    }

    /*---------------- Special Custom CSS for Sendero Sessions 'More' Button -------------------*/
    @media (max-width: 568px){
        .sendero-session-more-button {
            padding: 0 25px 0 0 !important;
        }
    }
}