
/*-----------------------------------------------------------------------------/
/ SIDEKICK Custom CSS
/-----------------------------------------------------------------------------*/


/*--------------------------------------------------------/
/ HEADER & MEGA MENU
/--------------------------------------------------------*/


/*---------------- Logo & Icon Spacing -------------------*/

.branding img {
    margin-left:10px;
    padding-top:20px;
    padding-bottom:20px;        
}

.nt_action {
    margin-right: 15px;
}

.nt_menu >li>a {
    margin-right: 15px;
    margin-left: 15px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

/*---------------- Menu Nav Color & Hover -------------------*/

.nt_menu div.menu-item>a, .nt_menu ul li a {
    color: #fff;
}

.nt_menu div.menu-item>a, .nt_menu ul li a:hover {
    color: #aaaaaa;
}

.nt_menu >li>a:hover:after, .nt_menu >li>a:focus:after {
    content: "";
    background: #999;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto;
    height: 2px;
    width: 70%;
}

/*---------------- MEGA MENU -------------------*/

.nt_menu h1, .nt_menu h2, .nt_menu h3, .nt_menu h4, .nt_menu h5, .nt_menu h6 {
    color:#fff;
}

.nt_menu li {
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size:12px;
}

.h_transparent_true.template-index .ntheader:not(.live_stuck) .nt_menu .type_mega .sub-menu {
    top:-80px;
    padding-top: 170px;
}

.h_transparent_true.template-blog .ntheader:not(.live_stuck) .nt_menu .type_mega .sub-menu {
    top:-80px;
    padding-top: 170px;
}

.h_transparent_true.template-article .ntheader:not(.live_stuck) .nt_menu .type_mega .sub-menu {
    top:-80px;
    padding-top: 170px;
}

.nt_menu .type_mega .sub-menu {
    background: #000;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: none;
    -webkit-box-shadow: none;
    z-index:-2;
}

.nt_menu .sub-menu .sub-column-item {
    top: 50% !important;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.cat_grid_item__wrapper h3 {
    letter-spacing: 0.2em;
}

.shop-all {
    font-size:11px;
    color:#fff;
    letter-spacing: 0.15em;
}

.shop-all-blk {
    padding: 0 20px;
    font-size:12px;
    font-weight:400;
    color:#000;
    letter-spacing: 0.15em;
}

.cat_grid_item__link:hover {
    opacity: 0.5;
}

/*--------------------------------------------------------/
/ Category & Collection Pages
/--------------------------------------------------------*/


.sk-breadcrumbs {
    margin:70px 90px;
}

.sk-collection-top {
    margin:70px 0 70px 90px;
}

.flickityt4s-slider {
    width:108%;
}

.image-title {
    color:#fff;
}



/*-----------------------------------------------------------------------------/
/ Custom CSS For Screen Sizes
/-----------------------------------------------------------------------------*/


/*---------------- Custom CSS for only desktop -------------------*/
@media (min-width: 1025px) {



}

/*---------------- Custom CSS for tablet, mobile -------------------*/
@media (max-width: 1024px) {



}

/*---------------- Custom CSS for only tablet -------------------*/
@media (min-width: 768px) and (max-width: 1024px) {



}

/*---------------- Custom CSS for only mobile -------------------*/
@media (max-width: 767px){



}