
/*-----------------------------------------------------------------------------/
/ SIDEKICK Custom CSS
/-----------------------------------------------------------------------------*/

/*--------------------------------------------------------/
/ PAGE HEADING
/--------------------------------------------------------*/

.page-head h1 {
    line-height:normal;
}

/*--------------------------------------------------------/
/ HEADER & MEGA MENU
/--------------------------------------------------------*/
.ntheader {
    height: fit-content !important;
}

/*---------------- Logo & Icon Spacing -------------------*/

.branding img {
    margin-left:10px;
    padding-top:20px;
    padding-bottom:20px;        
}

.nt_action {
    margin-right: 15px;
}

.nt_menu >li>a {
    margin-right: 15px;
    margin-left: 15px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

/*---------------- Menu Nav Color & Hover -------------------*/

.nt_menu div.menu-item>a, .nt_menu ul li a {
    color: #fff;
}

.nt_menu div.menu-item>a, .nt_menu ul li a:hover {
    color: #aaaaaa;
}

.nt_menu >li>a:hover:after, .nt_menu >li>a:focus:after {
    content: "";
    background: #999;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto;
    height: 2px;
    width: 70%;
}

/*---------------- MEGA MENU -------------------*/

.nt_menu h1, .nt_menu h2, .nt_menu h3, .nt_menu h4, .nt_menu h5, .nt_menu h6 {
    color:#fff;
}

.nt_menu li {
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size:12px;
}

.h_transparent_true.template-index .ntheader:not(.live_stuck) .nt_menu .type_mega .sub-menu {
    top:-80px;
    padding-top: 170px;
}

.h_transparent_true.template-blog .ntheader:not(.live_stuck) .nt_menu .type_mega .sub-menu {
    top:-80px;
    padding-top: 170px;
}

.h_transparent_true.template-article .ntheader:not(.live_stuck) .nt_menu .type_mega .sub-menu {
    top:-80px;
    padding-top: 170px;
}

.nt_menu .type_mega .sub-menu {
    background: #000;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: none;
    -webkit-box-shadow: none;
    z-index:-2;
}

.nt_menu .sub-menu .sub-column-item {
    top: 50% !important;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.cat_grid_item__wrapper h3 {
    letter-spacing: 0.2em;
}

.shop-all {
    font-size:11px;
    color:#fff;
    letter-spacing: 0.15em;
}

.shop-all-blk {
    padding: 0 20px;
    font-size:12px;
    font-weight:400;
    color:#000;
    letter-spacing: 0.15em;
}

.cat_grid_item__link:hover:after {
    opacity: .4;
}
.cat_grid_item__link:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,1);
    opacity: 0;
    transition: all .5s;
    -webkit-transition: all .5s;
}


/* --------- MOBILE MENU --------------- */
.nt_fk_canvas {
    background-color: #000;
    color: white;
}

.mobile-menu-header-title {
    font-family: 'Oswald';
    font-weight: 400;
    margin-right: 15px;
    margin-left: 15px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    align-self: center;
    justify-self: center;
    color: white !important;
    border-bottom: 1px solid white !important;
    background-color: transparent !important;
    font-size: 14px;
}
.mobile-menu-header-title:after {
    background-color: transparent;
}
.mb_nav_tab ul li a{
    font-family: 'Oswald';
    font-weight: 400;
    margin-right: 15px;
    margin-left: 15px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    align-self: center;
    justify-self: center;
    color: white !important;
    border-bottom: 1px solid white !important;
}
.nt_mb_menu .menu-item .sub-menu .menu-item a {
    margin-left: 40px;
    margin-right: 40px;
}
.mb_nav_tabs {
    margin: 0 auto;
}
.mb_nav_title {
    margin: 0;
    max-width: 100% !important;
    flex: 1 !important;
}
.close_pp {
    background-color: black;
    color: white;
}
.frm_search_cat select{
    font-family: 'Oswald';
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #222 !important;
}
.frm_search_cat select option{
    font-family: 'Oswald';
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}



/* --------- DEALER APPLY PAGE --------------- */
.dealer-apply-container input::placeholder{
    color: #878787;
}
.dealer-apply-container input, select {
    border: none !important;
    border-bottom: 1px solid #878787 !important;
    color: black !important;
    max-width: 250px;
}
.dealer-apply-container select:invalid, select option[value=""], .state-dropdown select:invalid, .state-dropdown select option[value=""] {
    color: #878787 !important;
}
.dealer-apply-container label {
    font-size: 10px;
}
.dealer-apply-row {
    display: flex;
    column-gap: 25px;
}
.dealer-apply-row div {
    width: 100%;
}
.dealer-apply-checkbox-container {
    margin-bottom: 20px;
}
.dealer-apply-button {
    background-color: #000 !important;
    color: #fff !important;
    border: 1px solid rgba(33,43,54,.9) !important;
    text-transform: uppercase !important;
    font-family: 'Oswald' !important;
    font-weight: 400 !important;
    max-width: none !important;
}
.dealer-apply-button:hover{
    background-color: #666 !important;
    color: #fff !important;
    border: 1px solid rgba(33,43,54,.9) !important;
    text-transform: uppercase !important;
    font-family: 'Oswald' !important;
    font-weight: 400 !important;
    max-width: none !important;
}


/* --------- LOCATIONS PAGE --------------- */
.state-dropdown-container {
    width: 100%;
    display: flex;
    padding: 0 50px 50px;
}
.transparent-button:hover {
    background-color: black;
    border: none;

}
.transparent-button {
    background-color: transparent;
    border: none;
}





/*--------------------------------------------------------/
/ FOOTERS
/--------------------------------------------------------*/

.footer__top_wrap .container, .footer__middle_wrap .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1430px) {
    .footer__top_wrap .container, .footer__middle_wrap .container {
        max-width: 1400px;
    }
}
@media (min-width: 1400px) {
    .footer__top_wrap .container, .footer__middle_wrap .container {
        max-width: 1370px;
    }
}

.button, button {
    background-color: #000;
    color: #fff;
    border: 1px solid rgba(33,43,54,.9);
    max-width: 160px !important;
    text-transform: uppercase !important;
    font-family: 'Oswald';
    font-weight: 400;
}

.button:hover, button:hover {
    background-color: #666;
    color: #fff;
    border: 1px solid rgba(33,43,54,.9);
    max-width: 160px !important;
    text-transform: uppercase !important;
    font-family: 'Oswald';
    font-weight: 400;
}

.ftr-icn-wrap {
    display: flex;
    padding-bottom:20px;
}
.ftr-icn {
    padding-right:10px;
}
.ftr-icn-txt {
    line-height: 1.3em;
}

/*--------------------------------------------------------/
/ HOME PAGE
/--------------------------------------------------------*/
.sendero-session-txt-container {
    /* display: flex;
    flex: 0 0 50%; */
    max-width: 100%;
    margin: 0 10%;
}
.hero-video-txt {
    /* display: flex; */
   margin-left: 60%;
   color: white;
}
.sendero-session-more-button {
    padding: 0 !important;
    border: none !important;
    white-space: nowrap;
}
.sendero-session-more-button:hover {
    background-color: transparent !important;
    border: none !important;
    font-weight: 600;
}
.play-icon, .play-icon button {
    z-index: 9999;
    margin: auto;
    transition: .5s;
    opacity: 1 !important;
    pointer-events: all;
    background-color: transparent;
    border: none;
}
.play-icon button:hover {
    transform: scale(1.1);
    cursor: pointer;
    pointer-events: all;
}
.nt_se_template--15855375155457__164865439396016512.se_height_cus_h .nt_bg_lz {
    padding-top: 500px !important;
}
.instagram-img {
    max-width: 300px;
    max-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.instagram_container {
    display: flex;
    justify-content: center !important;
    max-width: 950px;
}
.instagram-outer-container {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}
.quote_slide {
    max-width: 300px;
    height: 300px;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-title {
    display: flex;
    justify-content: center;
}
.test-outer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto!important;
    height: 300px;
    max-width: 75%;

}
.test-outer-container .flickityt4s-slider {
    width: 100%;
    justify-content: center;
    padding: 0 75px;
    flex: 1 1 1 33%;
    /* transform: translateX(-120%) !important; */
    
}
.test-outer-container .flickityt4s-slider div{
    /* padding: 0 25px; */
    /* margin: 0 15px; */
    /* width: 33%; */
}
.test-outer-container .flickityt4s-prev-next-button.previous {
    left: 0;
    margin-left: -5%;
}
.test-outer-container .flickityt4s-prev-next-button.previous:hover, .test-outer-container .flickityt4s-prev-next-button.next:hover {
    background-color: black;
}
.test-outer-container .flickityt4s-prev-next-button.next {
    right: 0;
    margin-right: -5%;
}
.test-inner-container {
    height: 300px;
    width:fit-content;
}
.test-container {
    padding-right: 0;
    padding-left: 0;
    margin: auto;
}

.blog-home-container {
    max-height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 50%;
}
.blog-home-img, .blog-home-article {
    
}
.blog-home-read-more h6{
    padding: 0;
    font-size: 13.5px;
    font-weight: 400;
    color: white;
    /* letter-spacing: 0.15em; */
}
.blog-home-read-more i {
    font-size: 16px;
    font-weight: 900;
    transition: .5s;
}
.blog-home-read-more:hover i {
    margin-left: 5px;
}
.home-blog-article-container .articles {
    max-width: 100%;
    display: flex;
    /* margin: 0; */
    padding: 0 5px !important;
}
.blog-home-link a {
    letter-spacing: .1px;
    font-size: 12px;
}
.blog-home-link a:hover {
    color: white;
}
.sk-article {
    /* width: 100%; */
    padding: 5px !important;
}
.blog-home-page-overlay{

    transform: translateY(-5px);
    width: calc(100% - 10px) !important;
    text-align: left;
    background-color: rgba(0,0,0,.3) !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: calc(100% - 10px);
    transition: .5s;
    
}

.blog-home-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start !important;
}
.blog-home-outer-container {
    background-color: rgba(0,0,0,.3);
}
.blog-home-outer-container p{
    color: white;
    margin: 0;
}
/*---------------- ADD TO CART BUTTON -------------------*/
.single_add_to_cart_button {
    background-color: #222;
    border: 1px solid rgba(33,43,54,.9);
    max-width: 160px !important;
    margin-top: 20px;
    text-transform: uppercase !important;
    font-family: 'Oswald';
    font-weight: 400;
}
/* The below button is the "Email me when available" button */
.add_to_cart_button {
    align-items: center;
    justify-content: center;
    font-family: 'Oswald';
    font-weight: 400 !important;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid rgba(33,43,54,.9) !important;
    max-width: 300px !important;
}
.add_to_cart_button:hover {
    max-width: 300px !important;
}
.single_add_to_cart_button:hover {
    background-color: #222;
    border: 1px solid rgba(33,43,54,.9) !important;
}


/*--------------------------------------------------------/
/ Category & Collection Pages
/--------------------------------------------------------*/


.sk-breadcrumbs {
    margin:70px 90px;
}

.sk-collection-top {
    margin:70px 0 70px 90px;
}
/* .container_cat {
    margin:70px 90px;
} */
.flickityt4s-slider {
    width:108%;
    justify-content:flex-start !important;
}

.image-title {
    color:#fff;
}

.cat-top-img {
    padding-right:80px;
}

/*---------------- Filter Widget -------------------*/

.mfp-content .section_nt_filter div, .mfp-content .section_nt_filter .price_label {
    font-size:12px;
}

.mfp-content .section_nt_filter .blockid_price .price_slider_amount .button {
    padding: 8px 14px;
    min-height: 0px;
    min-width: 0px;
}

/*---------------- Product Badges & Sale Price -------------------*/

.label_style_rounded .nt_label.out-of-stock {
    width: 52px;
    height:20px;
}

.nt_label.out-of-stock {
    color: #04A4A2;
    font-size: 12px;
}


/*--------------------------------------------------------/
/ Sendero Sessions
/--------------------------------------------------------*/
.page-head {
    height: 50vh;
    display: flex;
    align-items: center;
}
.sendero-apply-btn {
    background-color: #666;
    border-color: #666;
}
.sendero-apply-btn:hover {
    background-color: black;
    border-color: black;
}
.sendero-session-img {
    width: 50%;
    padding: 0 5px;
    height: 300px;
    display: flex;
    justify-content: center;
    object-fit: contain;
}
.sendero-session-img img {
    max-height: 300px;
    width: 100% !important;

    /* width: 5000px; */
    object-fit: cover;
}
.session-container {
    display: flex;
    justify-content: center;
    
}
.sendero-session-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 300px;
    width: 1100px;
    margin: 50px 0;
    object-fit: cover;
    padding: 0 15px;
}
.sendero-session-slider-vid-container {
    height: 300px;
    width: 600px;
    object-fit: contain;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
}
.sendero-session-slider-vid-container iframe {
    /* width: 300%; 
    height: 300%; */
    /* ...and bring it back again */
    /* margin-left: -100%; */
    position: absolute;
    height:100%;
    top: 0;
    right: 0;
    bottom: 0;
    width: 350%;
    left: -125%;
    max-width: none;
    pointer-events: none;
}
.sendero-session-link {
    max-width: 610px;
}
.sendero-session-overlay {
    height:100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,.3);
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
.sendero-session-title {
   left: 0;
   right: 0;
   top: 55%;
    text-align: center;
    color: white;
    z-index: 300;
    position: absolute;
}
.sendero-session-sub-title {
    left: 0;
    right: 0;
    top: 45%;
     text-align: center;
     color: white;
     z-index: 300;
     position: absolute;
 }
 .sendero-sessions-rich-text {
     max-width: 1100px;
 }
 .sendero-session-flickity-slider {
     display: flex;
     flex-wrap: nowrap;
 }
 .sk-session-slider-container {
     overflow: hidden;
 }
 .sk-session-slider {
     transition: .5s ease;
     overflow-y: initial !important;
     overflow-x: initial !important;
 }
#next_button, #previous_button {
    background-color: #abb1b4;
    border: 1px solid #abb1b4;
    color: white;
}
#next_button:hover, #previous_button:hover {
    background-color: #666;
    border: 1px solid rgba(33,43,54,.9);
}




/*--------------------------------------------------------/
/ Individual Product Page
/--------------------------------------------------------*/

.sk-indiv-product-featured {
    width: 92% !important;
}
.sk-best-seller-img-slider, .indiv-product-rec-img-slider {
    width: 100% !important;
    margin: 0 !important;
}
.best-seller-img-container, .indiv-product-rec-container {
    margin-left: 0;
    padding-right: 0;
    max-width: 100%;
}
.img-text-indiv-product-container {
    max-width: 1450px;
}
.product-info {
    text-align:center;
}
.indiv-product-text-right {
    padding-left: 100px;
    line-height: 1.25rem;
}
.indiv-product-text-left {
    margin: 0 !important;
    padding-right: 100px;
    line-height: 1.25rem;
}
.txt-col-img-left {
    justify-content: end;
}
.indiv-product-img{
    max-width: 987px;
    height: 475px;
}
.t4s-media-img {
    cursor: pointer !important;
}
.indiv-product-tab {
    padding: none !important;
}
.ul_tabs li.tab_title_block.active a{
    border: none;
    border-bottom: 2px solid #222;
    /* padding: 0; */
}
.ul_tabs li.tab_title_block a{
    border: none;
    font-size: 14px;
    margin-right: 25px;
    font-family: 'Oswald';
    font-weight: 400;
    letter-spacing: .1em;
}
.variations.style__rectangle .swatch:not(.is-color) li.is-selected{
    background-color: #222 !important;
    border-color: #222;
}
.variations.style__rectangle .swatch:not(.is-color) li:hover{
    background-color: #222 !important;
    border-color: #222;
}
.variations.style__rectangle .swatch:not(.is-color) li {
    background-color: transparent;
    border: 1px solid #222;
    font-family: 'Oswald';
    font-weight: 400;
}
.quantity input.input-text[type=number] {
    border: 1px solid #222;
    width: 40px;
    margin: 0 15px;
    font-family: 'Oswald';
    font-size: 12px;
}
.variations_form .quantity {
    border: none;
    width:fit-content;
}
.quantity .tc button .facl-plus, .quantity .tc button .facl-minus{
    background-color:#f6f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px !important;
    /* top: 5px; */
}
.facl-plus, .facl-minus {
    font-size: 10px;
}
.swatch__title {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .1em;
}
.swatch__value_pr {
    font-size: 14px;
}
.style_color .is-color .swatch_pr_item.is-selected {
    border: 1px solid #222 !important;
    background-color: transparent;
}
.style_color .is-color .swatch_pr_item {
    padding: 0;
    margin: 3px 0;
}
#out_stock_ppr {
    align-items: center;
    justify-content: center;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}
.swatch_style_rounded .swatch__list .swatch__value {
    border-radius: 0;
    padding: 0;
}
.swatch_style_rounded .swatch__list .swatch__list--item {
    border-radius: 0;
    border: 1px solid #222;
    padding: 0;
}
.tab-heading {
    border: none;
    font-size: 14px;
    font-family: 'Oswald';
    font-weight: 400;
    letter-spacing: .1em;
    text-transform: uppercase;
}
.pswp__button, .pswp__button:hover{
    border: none !important;
}

/*---------------- SHOPPING CART SIDEBAR ----------------*/
.mini_cart_wrap, .mini_cart_header {
    background-color: white;
}
.mini_cart_header i, .mini_cart_header h3{
    background-color: white !important;
    color: #222 !important;
}
.mini_cart_actions .quantity {
    border: none;
   
}
.min_cqty_0 .mini_cart_item .qty_1 svg {
    display: none;
}
.minus {
    padding: 0;
}
.mini-cart-edit-delete-container {
    width: 85%;
    display: flex;
    justify-content: center;
    
}

.btns_cart_1 .mini_cart_tool>div {
    box-shadow: none;
    /* border: 1px solid #222; */
    border-radius: 0;
    
}
.btns_cart_1 .mini_cart_tool>div:hover {
    box-shadow: none;
    
}
.txt_content h4 {
    text-transform: none !important;
}



/*---------------- Our Story Page -------------------*/

.checkmark {
    height: 33px;
    width: 33px;
    margin-right: 25px;
}
.about-us-img-txt {
    padding-left: 50px !important;
    padding-right: 50px !important;
}
.about-us-img {
    padding-right: 50px !important;
}

.rich-text-columns-outer-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 50px; */
    padding: 50px 20px;
}
.rich-text-columns-inner-container {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    flex-wrap: wrap;
    width: 100%;
}

.rich-text-columns-text-outer-section {
    padding: 0 50px;
    text-align: left;
    display: flex;
    margin-bottom: 25px;
}
.rich-text-button button{
    max-width: none !important;
    white-space: nowrap;
}

/*---------------- SHOPPING CART, LOGIN & SEARCH SIDEBAR SIZE AND PADDING ----------------*/


@media (min-width: 768px) {
    #nt_cart_canvas {
        width: 740px;
        background-color: white;
    }

    #nt_cart_canvas .nt_mini_cart {
        padding: 80px;
    }

    #nt_login_canvas, #nt_search_canvas {
        width: 450px;
        background-color: white;
    }

    #nt_login_canvas .nt_mini_cart, #nt_search_canvas .nt_mini_cart {
        padding: 40px;
    }
}

/*---------------- SHOPPING CART, LOGIN & SEARCH SIDEBAR FORM TEXT ----------------*/

.form-row label {
    font-family: Oswald;
    color: #000;
    text-transform: uppercase;
}

.mini_cart_content a {
    color: #000;
    font-weight: 400;
    font-size: 13px;
}

.mini_cart_content p {
    color: #999;
    font-weight: 400;
    font-size: 13px;
}


/*---------------- Quick View and Add to Cart on Hover -------------------*/

.hover_button, .product-attr {
    display:none;
}


/*---------------- Pagination -------------------*/

.pagination-page {
    font-family: Oswald;
    letter-spacing:0.2em;
    text-transform: uppercase;
    font-size: 13px;
}

.page-numbers {
    padding:5px;
}

.page-numbers li {
    margin:0;
}

a.next.page-numbers {
    margin-left:60px;
}

a.prev.page-numbers {
    margin-right:60px;
}


/*---------------- Sendero Session Individual Group Page -------------------*/
.sk-session-group-img-text-container {
    margin: auto;
    max-width: 1200px;
    width: 100%;
    width: fit-content;
    padding: 0 50px;
    margin: 0 auto;
}
.sk-session-group-img-text-container .col-md-6 {
    padding: 0 !important;
}
.sk-session-group-img {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    overflow: visible;
    /* justify-content: center; */
    align-items: center;
}
.sk-session-group-text {
    padding-right: 0;
}
.sk-session-group-img-single {
    max-width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
    padding-bottom: 10px;
    /* padding-left: 50px; */
}
.sk-session-group-outer-container {
    max-width: 1200px !important;
    margin: 100px auto;
}
.sk-session-group-inner-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
}
.sk-session-grid-indiv-container {
    height: 300px;
    width: 100%;
    object-fit: contain;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
}
.sk-session-grid-indiv-container a {
    cursor: pointer;
}
.sk-session-grid-video {
    padding: 5px;
}
.sk-session-grid-indiv-container iframe {
    position: absolute;
    height:100%;
    top: 0;
    right: 0;
    bottom: 0;
    width: 450%;
    left: -175%;
    max-width: none;
    pointer-events: none;
}
.sk-session-group-sub-title {
    left: 0;
    right: 0;
    top: 70%;
     text-align: center;
     color: white;
     z-index: 300;
     position: absolute;
}
.image-text-quote {
    padding: 0 50px !important;
}



/*-----------------------------------------------------------------------------/
/ PIONEROS PAGE
/-----------------------------------------------------------------------------*/
.pioneros-outer-container {
    margin: 50px 0;
}
.pioneros-row {
    /* padding: 15px !important; */
    justify-content: center;
}
.pioneros-item {
    overflow: hidden;
    margin-bottom: 0 !important;
    max-height: 370px;
    max-width: 370px;
    padding: 0 5px !important;
}
.pioneros-img {
    margin: 0 !important;
    height: 100%;   
}
.pioneros-image-overlay {
    position: absolute;
    top: 0;
    width: calc(100% - 10px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.4);
    opacity: 0;
    transition: .5s;
}
.pioneros-title, .pioneros-title a {
    color: white !important;
}
.pioneros-text {
    color: #D1D1D1;
}
.pioneros-item:hover .pioneros-image-overlay {
    opacity: 1;
}
/*-----------------------------------------------------------------------------/
/ Custom CSS For Screen Sizes
/-----------------------------------------------------------------------------*/


/*---------------- Custom CSS for only desktop -------------------*/
@media (min-width: 1025px) {



}

/*---------------- Custom CSS for tablet, mobile -------------------*/
@media (max-width: 1024px) {
    .sk-collection-top {
        margin:40px 0 40px 40px;
    }
    .sk-collection-top .container {
        padding:0;
    }
    .sk-breadcrumbs {
        margin:40px 40px 0 40px;
    }
    .container_cat {
        padding:40px;
    }
    .sendero-session-txt-container {
        margin: 0 !important;
    }
    .test-outer-container .flickityt4s-viewport {
        width: 100%;
    }
    .test-outer-container .flickityt4s-slider {
   
        /* width: 75%; */
        /* justify-content: center; */
        /* padding: 0 75px; */

    }
    .test-outer-container .flickityt4s-slider div{
        /* width: 100%; */
        /* padding: 0 25px; */
        /* margin: 0 50px; */
    }
    .test-outer-container .flickityt4s-prev-next-button.previous {
        left: 0;
    }
    .test-outer-container .flickityt4s-prev-next-button.next {
        right: 0;
    }
    .about-us-img {
        padding-right: 0 !important;
    }
}

/*---------------- Custom CSS for only tablet -------------------*/
@media (min-width: 768px) and (max-width: 1024px) {
    


}

/*---------------- Custom CSS for only mobile -------------------*/
@media (max-width: 767px){
    .rich-text-columns-inner-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .rich-text-columns-text-outer-section {
        width: 100%;
    }
    .sk-breadcrumbs {
        margin:20px 25px;
    }
    
    .sk-collection-top {
        margin:20px;
    }

    .cat-top-img {
        padding:6px;
    }

    
    .flickityt4s-slider {
        width:100%;
    }
    
    /*  TEXT WITH IMAGE FOR PRODUCT PAGE */
    .flex_wrap_reverse {
        flex-wrap: wrap-reverse;
    }
    .mobile-remove-left-padding, .indiv-product-rec-container, .best-seller-img-container {
        padding-left: 0 !important;
    }

    /* INDIVIDUAL PRODUCT PAGE IMAGE */
    .indiv-product-img{
        width: 100%;
        height: auto;
    }

    .sk-session-group-inner-container {
        flex-direction: column;
        align-items: center;
    }
    .sk-session-grid-indiv-container {
        margin-right: 0;
    }
    .sk-session-grid-video {
        max-width: 75% !important;
    }
}
    

    /*---------------- Special Custom CSS for Sendero Sessions 'More' Button -------------------*/
    @media (max-width: 568px){
        .sendero-session-more-button {
            padding: 0 25px 0 0 !important;
            white-space: nowrap;
        }
    }
